{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    {% block link %} {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'posts/css/base.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'index' %}" class="logo">Xora</a>
        <div class="head-links">
            <div class="input_wrapper">
                <input class="search-input" placeholder="Поиск">
                <div class="search-cont">
                    <img class="input_search-img" src="/media/icons/search.svg" onclick="searchPosts()" datatype="{{ request.user.username }}">
                </div>
            </div>
            <a class="pencil_wrapper" href="{% url 'add_post' %}">
                <img class="pencil-img" src="/media/icons/pencil.svg">
                Написать</a>
            {% if request.user.is_authenticated %}
                <div class="notification_wrapper" onclick="notificationFunc()">
                    <img class="bell-img" src="/media/icons/bell.png">
                    <div class="notification-count" style="text-decoration: none;">{{ notification_count }}</div>
                    <div class="notification_container">
                        <div class="navbar">
                            <span>Уведомления</span>
                        </div>
                        <div class="notification-message_wrapper">
                            {% for notification in notifications %}
                                {% if notification.is_active %}
                                <div class="notification-hover" onclick="window.location.href='{{ notification.link }}'">
                                    <div class="notification-compact">
                                        <img src="{{ notification.actor.image.url }}" class="user-img">
                                        <div>
                                            {{ notification.message|safe }}
                                            <div class="notification-date">
                                                {{ notification.date|smart_time }}
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="head-links-cont">
                {% if user.is_authenticated %}
                <img class="header_user-img" src="{{ user.image.url }}" onclick="window.location.href = window.location.origin + '/users/profile/' + username">
            {% else %}
                <a class="login-logout" href="{% url 'login' %}">Войти</a>
            {% endif %}
            </div>
        </div>
    </header>    
    {% block body %}
    {% endblock %}
    <script>
        const username = "{{ request.user.username }}"
        const BASE_URL = window.location.origin
    </script>
    <script>
        window.postID = '{{ post.id }}'
        window.csrfToken = "{{ csrf_token }}"
        window.currentUser = '{{ request.user }}'
        window.BASE_URL = window.location.origin
    </script>
    <script src="{% static 'js/globals.js' %}"></script>
    <script src="{% static 'js/domloaded.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/auth.js' %}"></script>
    <script src="{% static 'js/comments.js' %}"></script>
    <script src="{% static 'js/bookmarks.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/theme-follows.js' %}"></script>
    <script src="{% static 'js/follows.js' %}"></script>
    <script src="{% static 'js/filters.js' %}"></script>
    <script src="{% static 'js/posts.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>