{% extends 'posts/base.html' %}
{% load static %}
{% load custom_filters %}

    <title>{{ post.title }}</title>
    {% block link %}<link rel="stylesheet" href="{% static 'posts/css/post_detail.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/styles.css' %}?v=3">{% endblock %}

{% block body %}
    <div class="post">
        <div class="post__header">
            <div class="user-info">
                <div class="user-info__meta">
                    <img src="{{ post.user.image.url }}" class="user-info__avatar">
                    <div class="user-info__details">
                        <a href="{% url 'profile' post.user.username %}" class="user-info__username">{{ post.user.username }}</a>
                        <span class="user-info__date">{{ post.pub_date|smart_time }}</span>
                    </div>
                </div>
                {% if request.user != post.user %}
                    <div class="button-follow" onclick="followFunc(this)" data-id="{{ post.user.id }}">Подписаться</div>
                {% endif %}
            </div>
            <br>
                <div class="post__meta">
                    <a href="{% url 'category' post.category %}" class="post__category">{{ post.category }}</a>
                    <div class="post__type">{{ post.post_type }}</div>
                </div>
            <br>
            <br>
            <div class="post__title">
                <a href="/post/{{ post.id }}">{{ post.title }}</a>
            </div>
            <br>
            <div class="post__content">
                {% if post.wrapp_img %}
                   <img src="{{ post.wrapp_img.url }}" class="post__wrapp-img">
                {% endif %}
                <p>{{ post.content|safe }}</p>
            </div>
            <div class="post__actions">
                <div class="reactions">
                    <div class="like-button" onclick="setPostLike(this)" data-id="{{ post.id }}">
                        <img src="/media/icons/hart.png" class="like-button__icon" id="like-button">
                        <span class="like-button__count" id="like-button__count-id-{{ post.id }}">{{ post.liked_by.count }}</span>
                    </div>
                    <div class="comment-button">
                        <img src="/media/icons/comment.svg" class="comment-button__icon">
                        <span class="comment-button__count">{{ post.update_comment_count }}</span>
                    </div>
                    <div class="bookmark-button" onclick="setPostBookmark(this)" data-id="{{ post.id }}" data-section="bookmarks">
                        <svg class="bookmark-button__icon" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M6 2C5.44772 2 5 2.44772 5 3V21C5 21.2761 5.22386 21.5 5.5 21.5C5.63261 21.5 5.76522 21.4477 5.85355 21.3536L12 15.7071L18.1464 21.3536C18.2348 21.4477 18.3674 21.5 18.5 21.5C18.7761 21.5 19 21.2761 19 21V3C19 2.44772 18.5523 2 18 2H6Z" stroke-width="2"/>
                        </svg>
                        <span class="bookmark-button__count" id="bookmark-button__count-id-{{ post.id }}">{{ post.bookmark_user.count }}</span>
                    </div>
                </div>
                <div class="post__views">
                    <img src="/media/icons/view.svg" class="post__view-icon">
                    <span class="post__view-count">{{ post.views_count }}</span>
                </div>
            </div>
        </div>
        <div class="comments-wrapper">
            <div class="comments-wrapper__title">Комментарии {{ post.comments.count }}</div>
            {% if request.user != 'AnonymousUser' %}
                <div class="send_comment__form" id="send_comment__form-{{ post.id }}">
                    <textarea id="comment-input-{{ post.id }}" class="comment-input" placeholder="Комментарий"></textarea>
                    <div class="send-comment__button" onclick="sendComment(this)" data-id="{{ post.id }}" data-field-id="{{ post.id }}">Отправить</div>
                </div>
            {% else %}
                <span>Зарегестрируйтесь, что бы отправить комментарий.</span>
            {% endif %}
            <div class="comments-list"></div>
        </div>
    </div>
    <script>
        const postID = '{{ post.id }}'
        const currentUser = '{{ request.user }}'
    </script>
{% endblock %}