:root {
    --main-color: #4a90e2;
    --text-color: #212020;
    --main-background: #fafafc;
    --main-element-background: #fcfcfc;
    --main-border: #f3f4f5;
    --main-hover: #ebebeb;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-reset__container {
    display: block;
    width: 500px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    height: auto;
    background: var(--main-element-background);
    border: var(--main-border);
}

.password-reset__title {
    font-size: 23px;
    margin: 20px 10% 20px 10%;
    text-align: center;
    font-weight: 600;
}

.form-control {
    width: 97.8%;
    height: 40px;
    padding: 0 0 0 10px;
    border-radius: 4px;
    border: 1px solid #4fc827;
}

.form-control:focus {
    border: 1px solid #4fc827!important;
    outline: none;
}

.form-control::placeholder {
    font-size: 16px;
}

.submit-button {
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 10px 0 0 0;
    background: #4fc827;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: 600;
}

.password-reset__text {
    text-align: center;
    margin: 0 0 20px 0;
}

.footer {
    text-align: center;
    margin: 20px 0 0 0;

}

.footer a {
    text-decoration: none;
    color: #4fc827;
}

.footer a:hover {
    text-decoration: underline;
}
