{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пароль успешно сброшен</title>
    <link rel="stylesheet" href="{% static 'css/users/password_reset.css' %}">
</head>
<body>
    <div class="password-reset__container">
        <div class="password-reset__title">Пароль успешно сброшен!</div>
        <div class="password-reset__text">Теперь вы можете войти в свой аккаунт с новым паролем.</div>
        <div class="text-center">
            <div class="footer"><a href="{% url 'index' %}">Вернуться на страницу входа</a></div>
        </div>
    </div>
</body>
</html>