{% extends 'posts/base.html' %}
{% load static %}
{% load cache %}
{% load custom_filters %}

    <title>Профиль</title>
    {% block link %}<link rel="stylesheet" href="{% static 'posts/css/styles.css' %}?v=3">
    <link rel="stylesheet" href="{% static 'posts/css/post_detail.css' %}?v=3">{% endblock %}


{% block body %}
    <div class="main-container">
        <div class="scroll-top" id="scroll-id">
            <div class="wrapper-btn">
                <img src="/media/icons/arrow-up.svg">
            </div>
        </div>
        <div class="container">
            <div class="profile_wrapper">
                <div class="main-profile">
                    <div class="user-profile-head">
                        <div class="profile_username-img">
                            <img src="{{ profile_user.image.url }}" class="profile_head-img">
                            <span class="profile_head-name">{{ profile_user.username }}</span>
                        </div>
                        {% if request.user != profile_user %}
                            <div class="follow-btn" onclick="followFunc(this)" data-id="{{ profile_user.id }}">Подписаться</div>
                        {% endif %}
                    </div>
                    <div class="bio-wrapper">
                        {% if not profile_user.bio or profile_user.bio == 'None' %}
                            {% if profile_user == request.user %}
                                <a href="{% url 'settings' %}" class="add-bio">добавить описание</a>
                            {% endif %}
                        {% else %}
                            <span>{{ profile_user.bio }}</span>
                            {% if request.user == profile_user %}
                                <img class="pencil-img" onclick="settings(this)" src="/media/icons/pencil.svg">
                            {% endif %}

                        {% endif %}
                    </div>
                </div>
                <div class="profile-header-nav">
                    <span class="profile-posts" onclick="profilePostsFunc(this)" data-id="{{ profile_user }}">Посты</span>
                    {% if profile_user == request.user %}
                        <span class="profile-bookmarks" onclick="profileBookmarksFunc(this)" data-id="{{ profile_user }}">Закладки</span>
                    {% endif %}
                    <span class="profile-followings" onclick="profileSubscribesFunc(this)" data-id="{{ profile_user }}">Подписки</span>
                    <span class="profile-followers" onclick="profileFollowersFunc(this)" data-id="{{ profile_user }}" data-auth="{{ request.user }}">Подписчики</span>
                    <span class="profile-comments" onclick="profileCommentsFunc(this)" data-id="{{ profile_user }}" data-auth="{{ request.user }}">Комментарии</span>
                </div>
                <div class="profile-header-nav-cont"></div>
                <div class="profile_follows">
                    <div class="followings_wrapper">
<!--                        <span>Подписки {{ profile_user.subscription.followings.all|length }}</span>-->
                        {% for u in profile_user.subscription.followings.all %}
                            <div class="following">
                                <div class="username-img-wrapper">
                                    <img src="{{ u.image.url }}" class="following_image">
                                    <a class="subs_username" href="{% url 'profile' u.username %}">{{ u.username }}</a>
                                </div>
                                {% if request.user.username != u.username %}
                                    <div class="follow-btn" onclick="userFollows(this)" data-id="{{ u.id }}" datatype="{{ request.user }}">Подписаться</div>
                                {% else %}
                                    <span style="color: #808080;">Это вы</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="followers_wrapper">
<!--                        <span>Подписчики {{ profile_user.subscription.followers.all|length }}</span>-->
                        {% for u in profile_user.subscription.followers.all %}
                            <div class="follower">
                                <div class="username-img-wrapper">
                                    <img src="{{ u.image.url }}" class="following_image">
                                    <a class="subs_username" href="{% url 'profile' u.username %}">{{ u.username }}</a>
                                </div>
                                {% if request.user.username != u.username %}
                                    <div class="follow-btn" onclick="userFollows(this)" data-id="{{ u.id }}" datatype="{{ request.user }}">Подписаться</div>
                                {% else %}
                                    <span style="color: #808080;">Это вы</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="popular-and-random">
            {% if request.user.is_authenticated %}
                <div class="profile-cont">
                    <div class="profile-data">
                        <div class="user-data">
                            <img src="{{ user.image.url }}" alt="" class="profile-user-img">
                            <div class="logout-and-username">
                                <a href="{% url 'profile' request.user %}">{{ request.user }}</a>
                                <a class="logout" onclick="logout()">выйти</a>
                            </div>
                        </div>
                        <img class="settings-img" src="/media/icons/settings.svg" onclick="settings(this)">
                    </div>
                    <div class="profile-elements">
                        {% if request.user.is_staff %}
                        <div class="admin-cont" onclick="window.location.href = 'admin/'">
                            <a href="http://127.0.0.1:8000/admin/">Администрация</a>
                        </div>
                        {% endif %}
                        <script>
                            const username = "{{ request.user }}"
                        </script>
                        <div class="notifications-cont" onclick="window.location.href = '#notification-id'">
                            <a href="#notification-id">Уведомления</a>
                        </div>
                        <div class="subscribes-cont" onclick="window.location.href = '#subs-id'">
                            <a href="#subs-id">Подписки</a>
                        </div>
                        <div class="bookmarks-cont" onclick="window.location.href = '#bookmarks-id'">
                            <a href="#bookmarks-id">Закладки</a>
                        </div>
                        <div class="self-posts-cont" onclick="window.location.href = '#self-posts-id'">
                            <a href="#self-posts-id">Посты</a>
                        </div>
                        <div class="comment-cont" onclick="window.location.href = '#comments'">
                            <a href="#comments">Комментарии</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="login-cont">
                        <div class="auth-header">Войти</div>
                        <div class="login-password">
                            <input class="username-form" placeholder="Логин" minlength="3">
                            <div class="username-error"></div>
                            <input class="password-form" type="password" placeholder="Пароль">
                            <div class="password-error"></div>
                        </div>
                        <div class="error-data">
                            <p class="error-message"></p>
                        </div>
                        <div class="open-create">
                            <button onclick="loginHandler()">Войти</button>
                            <button id="login-second-button">Создать аккаунт</button>
                        </div>
                        <a href="{% url 'password_reset' %}" class="forget-password">Забыли пароль?</a>
                    </div>
                <div class="register">
                    <div class="auth-header-reg">Создать аккаунт</div>
                    <div class="register-data">
                        <input class="reg-email-form" placeholder="Email">
                        <div class="reg-email-error"></div>
                        <input class="reg-username-form" placeholder="Никнейм" maxlength="16">
                        <div class="reg-username-error"></div>
                        <input class="reg-password-form" type="password" placeholder="Пароль">
                        <div class="reg-password-error"></div>
                        <input class="reg-password2-form" type="password" placeholder="Повторите пароль">
                        <div class="reg-password2-error"></div>
                    </div>
                    <div class="reg_error-data">
                        <p class="reg_error-message"></p>
                    </div>
                    <div class="open-create">
                        <button onclick="registerHandler()">Создать аккаунт</button>
                        <button id="second-button">Есть аккаунт? Войти</button>
                    </div>
                </div>
            {% endif %}
            {% cache 600 popular-cat %}
                <div id="popular-id" class="popular-cat">
                <p class="popular-title">Темы</p>
                    <div class="category-item">
                        <img src="/media/categories/psychology.png" alt="">
                        <a href="{% url 'category' %}?theme=Психология">Психология</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/technologies.png" alt="">
                        <a href="{% url 'category' %}?theme=Технологии">Технологии</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/offtop.png" alt="">
                        <a href="{% url 'category' %}?theme=Офтоп">Офтоп</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/travel.png" alt="">
                        <a href="{% url 'category' %}?theme=Путешествия">Путешествия</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/sport.png" alt="">
                        <a href="{% url 'category' %}?theme=Спорт">Спорт</a>
                    </div>
                    <div class="virt-button" id="virt-button" role="button">
                        <img class="down" id="img-id" src="/media/icons/arrow-up.svg">
                        <span>Показать все</span>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/finance.png" alt="">
                        <a href="{% url 'category' %}?theme=Деньги и инвестиции">Деньги и инвестиции</a>
                    </div>
                    <div class="category-item" id="cinema">
                        <img src="/media/categories/movies.png" alt="">
                        <a href="{% url 'category' %}?theme=Кино">Кино</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/creation.png" alt="">
                        <a href="{% url 'category' %}?theme=Творчество">Творчество</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/health.png" alt="">
                        <a href="{% url 'category' %}?theme=Здоровье">Здоровье</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/games.png" alt="">
                        <a href="{% url 'category' %}?theme=Игры">Игры</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/history.png" alt="">
                        <a href="{% url 'category' %}?theme=История">История</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/music.png" alt="">
                        <a href="{% url 'category' %}?theme=Музыка">Музыка</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/science.png" alt="">
                        <a href="{% url 'category' %}?theme=Наука">Наука</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/news.png" alt="">
                        <a href="{% url 'category' %}?theme=Новости">Новости</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/humor.png" alt="">
                        <a href="{% url 'category' %}?theme=Юмор">Юмор</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/career.png" alt="">
                        <a href="{% url 'category' %}?theme=Карьера">Карьера</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/development.png" alt="">
                        <a href="{% url 'category' %}?theme=Разработка">Разработка</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/intresting.png" alt="">
                        <a href="{% url 'category' %}?theme=А вы знали?">А вы знали?</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/food.png" alt="">
                        <a href="{% url 'category' %}?theme=Еда">Еда</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/android.png" alt="">
                        <a href="{% url 'category' %}?theme=Android">Android</a>
                    </div>
                    <div class="category-item" href="#">
                        <img src="/media/categories/apple.png" alt="">
                        <a href="{% url 'category' %}?theme=Apple">Apple</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/fashion.png" alt="">
                        <a href="{% url 'category' %}?theme=Мода">Мода</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/education.png" alt="">
                        <a href="{% url 'category' %}?theme=Образование">Образование</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/ai.png" alt="">
                        <a href="{% url 'category' %}?theme=Ai">AI</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/thoughts.png" alt="">
                        <a href="{% url 'category' %}?theme=Размышления">Размышления</a>
                    </div>
                    <div class="category-item">
                        <img src="/media/categories/animal.png" alt="">
                        <a href="{% url 'category' %}?theme=Животные">Животные</a>
                    </div>
            </div>
            {% endcache %}

            {% cache 600 random-posts %}
                <div class="random-posts">
                <div class="popular-post-p">
                    <span>ЧИТАЮТ СЕЙЧАС</span>
                </div>
                {% for post in random_posts %}
                    <div class="cicle-container">
                        <div class="date-and-name">
                            <div class="side-img-name">
                                <img src="{{ post.user.image.url }}">
                                <a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
                            </div>
                            <a style="color: gray">{{ post.pub_date|smart_time }}</a>
                        </div>
                        <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                    </div>
                {% endfor %}
            </div>
            {% endcache %}
        </div>
        </div>
    </div>
{% endblock %}