/* header */

* {
    font-family: "Roboto", sans-serif;
}


body {
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}

.main-header {
    display: flex;
    position: relative;
    background-color: #ffffff;
    height: 50px;
    border-bottom: 1px solid #d3d7db;
 }


.head-links {
    border-radius: 3px;
    background: deeppink;
    position: relative;
    left: 1145px;
    top: 10px;
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-links a {
    font-size: 13px;
    color: white;
    text-decoration: none;

}

.head-links:hover {
    background: #D20374;
}

.head-container {
    position: relative;
    left: 190px;
    top: 16px;
    display: flex;
    gap: 10px;
    justify-content: center;
    color: red;
}

.head-container a {
    text-decoration: none;
    color: #777777;
}
.head-container a.active {
    color: deeppink;
}

.head-container a:hover {
    color: dodgerblue;
}

.head-search-cont img {
    position: relative;
    left:740px;
    top:14px;
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(0.5);
}

.head-search-cont:hover {
    filter: grayscale(0%) brightness(1) invert(0) sepia(1) saturate(30) hue-rotate(-50deg);
}
.pencil-cont img {
    position: relative;
    left:680px;
    top:14px;
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(0.5);
}

.pencil-cont:hover {
    filter: grayscale(0%) brightness(1) invert(0) sepia(1) saturate(30) hue-rotate(-50deg);
}

/* header */

.container {
    position: absolute;
    margin-left: 250px;
    width: 700px;
    top: -10px;
}

.last-posts-cont {
    display: flex;
    align-items:  center;
    background-color: #ffffff;
    height: 50px;
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 12px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.search input {
    height: 25px;
    width: 800px;
    border: 1px solid red;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
}
.search button {
    margin-left: 446px;
}

.submit-btn {
    margin-left: auto;
    padding-right: 5px;
}

.submit-btn button {
    height: 35px;
    font-size: 14px;
    color: #333;

}
/* Posts */

.posts {
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 12px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.posts a {
    color: #1b1e24;
    text-decoration: none;
}

.posts p {
    word-spacing: 10px;
    font-size: 17px;
    margin-bottom: 10px;
}

.posts a:hover {
    text-decoration: underline;
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    display: inline-flex;
    border-radius: 10%;
    margin-right: 5px;

    width: 25px;
    height: 25px;
}
.user a {
    font-size: 13px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.letter {
    position: relative;
    right: 27px;
}

.icon-cont {
    display: flex;
    align-items: center;justify-content: left;
    height: 60px;
    padding-left: 0;
    margin-top: 15px;
    margin-left: -15px;
    margin-bottom: -15px;
}



.views-img {
    width: 18px;
    height: 18px;
    margin: 20px;
    filter: brightness(0) invert(0.5);
    padding: 0;
}

.heart-img {
    width: 18px;
    height: 18px;
    margin: 20px;
    filter: brightness(0) invert(0.5);
    padding: 0;
    cursor: pointer;
}

.heart-img-liked {
    width: 18px;
    height: 18px;
    margin: 20px;
    filter: grayscale(0%) brightness(1) invert(0) sepia(1) saturate(30) hue-rotate(-50deg);
    padding: 0;
    cursor: pointer;
}

.heart-img:hover {
    filter: brightness(1) invert(0.4);
}

.comment-img {
    width: 18px;
    height: 18px;
    margin: 20px;
    margin-top: 25px;
    cursor: pointer;
    filter: brightness(0) invert(0.5);
}

.views-count {
    position: relative;
    left: -10px;
    font-size: 13px;
    font-weight: bold;
    color: gray;
}

.comment-count {
    position: relative;
    left: -11px;
    font-size: 13px;
    font-weight: bold;
    color: gray;
}

.likes-count {
    position: relative;
    left: -11px;
    font-size: 13px;
    font-weight: bold;
    color: gray;
}

.likes-count-liked {
    position: relative;
    left: -11px;
    font-size: 13px;
    font-weight: bold;
    color: deeppink;
}

.icon-cont form {
    display: contents;
}

.comment-class {
    font-size: 13px;
    font-weight: bold;
    position: relative;
    min-width: 30px;
    top: 35px;
    left: 40px;
    color: gray;
    text-align: right;
}

.s3 {
    position: relative;
    display: flex;
    align-items: center;
}

.default-span-s3 {
    position: relative;
    display: flex;
    align-items: center;
}

.s3 span {
    position: relative;
    display: block;
    top: 1.3px;
    left: 0px;
}

.default-span-s3 span {
    font-size: 13px;
    position: relative;
    display: inline-flex;
    top: 1.3px;
    margin-left: 2px;
}


.detail-button {
    cursor: pointer;
    display: flex;
    position: relative;
    top: 4px;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 100px;
    border: 1px solid deeppink;
    border-radius: 3px;

}

.detail-button a {
    color: deeppink;
    word-spacing: 2px;
    font-size: 13px;
    text-decoration: none;
}

.detail-button:hover {
    background: #D20374;
    color: white;
}

.detail-button:hover a {
    background: #D20374;
    color: white;
}

.detail-button a:hover {
    background: #D20374;
    text-decoration: none;
    color: white;
}

/* Posts */

.popular-cat {
    position: relative;
    margin-left: 1235px;
    top: -10px;
    right: 267px;
    width: 200px;
    height: 447px;
    margin-top: 14px;
    font-size: 14px;
    padding: 18px;
    background-color: #ffffff;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.popular-cat a:hover {
    color: dodgerblue;
}

.all-themes p {
    position: relative;
    bottom: 12px;
    border-bottom: 1px solid green;
}

.all-themes a {
    position: relative;
    bottom: 13px;
    text-decoration: none;
    font-size: 13px;
}

.popular-cat p {
    margin-top: 1px;
    font-size: 16px;
    border-bottom: 1px solid #d3d7db;
    padding-bottom: 10px;
}

.popular-cat-container {
    position: relative;
    padding-top: 20.4px;
    top: -18px;
}

.popular-cat-container a {
    text-decoration: none;
    color: #333;

}

.count {
    position: absolute;
    text-decoration: none;
    color: deeppink;
    right: 0;
}
.main-container {
    position: relative;
    top: 10px;
    }

.title a {
    font-family: Arial sans-serif;
    color: #333;
    font-size: 24px;
    font-weight: 800;
}