@import url('base.css');
@import url('styles.css');
@import url('auth.css');
@import url('posts.css');
@import url('post_detail.css');
@import url('add_post.css');
@import url('../users/profile.css');
