
.main-container {
    position: absolute;
    top: 50px;
    right: 500px;
    width: 530px;
    margin-top: 14px;
    font-size: 20px;
    padding: 18px;
    background-color: #ffffff;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.main-container a:hover {
    color: dodgerblue;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.left {
    font-size: 13px;
    text-align: left;
    margin-left: 14px;
    color: #333;
}
.right {
    font-size: 13px;
    text-align: right;
    margin-right: 14px;
    color: #333;
}


.divider {
    position: relative;
    top: -8px;
    width: 502px;
    margin-left: 14px;
    /*margin-right: 5px;*/
    border-bottom: 1px solid #d3d7db;
}

.all-cat {
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
    top: -18px;
}

.all-cat a {
    text-decoration: none;
    color: #333;
    flex-grow: 1;
    margin-bottom: 10px;
}

.count {
    position: relative;
    float: right;
    text-decoration: none;
    color: deeppink;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 470px;
    top: 650px;
    background-color: white;
    width: 566px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.pagination {
    display: flex;
    gap: 5px;
    justify-content: center;
}
.pagination a {
    display: inline-flex;
    gap: 5px;
    justify-content: center;
    width: 30px;
    height: 30px;
    align-items: center;
    font-size: 19px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.pagination a.active {
    border: 2px solid deeppink;
    color: deeppink;
}

.next_class a {
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: max-content;
}

.previous_class a {
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: max-content;
}


