.scroll-top {
    cursor: pointer;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100vh;
    background-color: transparent;
}

.scroll-top:hover {
    background-color: #e4e4e4;
    display: flex;
}

.scroll-top:hover .wrapper-btn {
    background-color: #bbbbbb;
}

.wrapper-btn {
    position: relative;
    top: 50%;
    left: 20%;
    background-color: #e0e0e0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-btn img {
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(42%) sepia(37%) saturate(26%) hue-rotate(335deg) brightness(93%) contrast(78%);
}

.search input {
    height: 25px;
    width: 800px;
    border: 1px solid red;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
}
.search button {
    margin-left: 446px;
}

.submit-btn {
    margin-left: auto;
    padding-right: 5px;
}

.submit-btn button {
    height: 35px;
    font-size: 14px;
    color: #333;

}

/* Posts */

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-left: 0px;
    margin-top: 65px;
}

.last-and-posts {
    width: 680px;
    height: auto;
}

.posts {
    width: 680px;
    padding: 25px;
    background-color: var(--main-element-background);
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid var(--main-border);
    border-radius: 10px;
}

.ql-editor a {
    color: var(--main-color)
}

.ql-editor {
    margin-bottom: 20px;
}

.icon-cont {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.post-reactions {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.user {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.user span {
    font-size: 13px;
}
.user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user a {
    text-decoration: none;
    font-size: 15px;
    color: var(--text-color);
    font-weight: 500;
}

.title a {
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    font-size: 23px;
}

.category-and-date {
    display: inline-flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
}

.category-and-date a {
    font-weight: normal;
    font-size: 13px;
}

.name-and-date-category {
    display: inline-block;
    justify-content: center;
}

.detail-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    margin-bottom: 20px;
    cursor: pointer;
}

.detail-button:hover {
    background-color: var(--main-color);
}

.detail-button:hover a {
    color: white;
}

.detail-button a {
    text-decoration: none;
    font-size: 13px;
    color: var(--main-color);
}

.follow-btn {
    border: 1px solid var(--main-border);
    padding: 0 10px 0 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 13px;
    height: 30px;
    cursor: pointer;
    background: var(--main-color);
    color: white;
}

.follow-btn:hover {
    background: #3f7ec6;
    transition: 0.1s ease;
}

.user-photo-name {
    display: flex;
    justify-content: space-between;
}
/* Posts */






/* ===LIKES=== */
@keyframes set-slide-up {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    50% {
        transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.likes-count.dellikeanimate {
    animation: set-slide-up 0.8s ease-in-out;
}


@keyframes rem-like-slide {
    0% {
        transform: translateY(-5px);
        opacity: 0;
    }
    50% {
        transform: translateY(3px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.likes-count.setlikeanimate {
    animation: rem-like-slide 0.8s ease-in-out;
}

.like-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    min-width: 30px;
    width: auto;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 30px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.like-wrapper-liked {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    min-width: 30px;
    width: auto;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 30px;
    background-color: var(--main-color);
    cursor: pointer;
    color: white;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.like-wrapper:hover {
    background-color: #ebebeb;
}

.likes-count {
    font-size: 15px!important;
    margin-left: 6px;
}

.heart-img {
    width: 17px;
    height: 17px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(34%) sepia(50%) saturate(5366%) hue-rotate(324deg) brightness(101%) contrast(101%)!important;
}

/* ===LIKES=== */






/* ===COMMENTS=== */
.comment-wrapper {
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    margin-left: auto;
    align-items: center;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 30px;
    min-width: 30px;
    width: auto;
    height: 30px;
    padding-right: 8px;
    padding-left: 8px;
}

.comment-wrapper:hover .comment-count{
    color: var(--main-color);
    
}

.comment-wrapper:hover .comment-img {
    filter: brightness(0) saturate(100%) invert(31%) sepia(72%) saturate(1515%) hue-rotate(209deg) brightness(108%) contrast(110%);
}

.comment-wrapper:hover {
    background-color: #d1ddff;
}
.comment-img {
    width: 17px;
    height: 17px;
    margin-top: 3px;
    filter: brightness(0) saturate(100%) invert(34%) sepia(3%) saturate(0%) hue-rotate(4deg) brightness(100%) contrast(89%);
}


.comment-count {
    font-size: 15px;
}
/* ===COMMENTS=== */

/* ===VIEWS=== */
.view-wrapper {
    display: inline-flex;
    justify-content: center;
    gap: 7px;
    align-items: center;

    
}

.views-img {
    background-color: transparent;
    filter: brightness(0) saturate(100%) invert(34%) sepia(3%) saturate(0%) hue-rotate(4deg) brightness(100%) contrast(89%);
    height: 22px;
    width: 22px;
    margin-top: 5px;
}

.views-count {
    font-size: 14px;
    color: rgb(92, 92, 92);
    margin-top: 5px;
}
/* ===VIEWS=== */


/* ===BOOKMARK=== */


@keyframes set-slide-up {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    50% {
        transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.bookmark-count.dellikeanimate {
    animation: set-slide-up 0.8s ease-in-out;
}


@keyframes rem-bookmark-slide {
    0% {
        transform: translateY(-5px);
        opacity: 0;
    }
    50% {
        transform: translateY(3px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.bookmark-count.setlikeanimate {
    animation: rem-bookmark-slide 0.8s ease-in-out;
}

.bookmark-wrapper {
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    margin-left: auto;
    align-items: center;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 30px;
    min-width: 30px;
    width: auto;
    height: 30px;
    /* margin-top: 3px; */
    padding-right: 8px;
    padding-left: 8px;
}

.bookmark-wrapper-set {
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    margin-left: auto;
    align-items: center;
    background-color: var(--main-color);
    cursor: pointer;
    border-radius: 30px;
    min-width: 30px;
    width: auto;
    height: 30px;
    color: white;
    padding-right: 8px;
    padding-left: 8px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.bookmark-wrapper-set .bookmark-img {
    filter: brightness(0) saturate(100%) invert(91%) sepia(74%) saturate(964%) hue-rotate(320deg) brightness(103%) contrast(102%);
}



.bookmark-wrapper:hover .bookmark-count{
    color: var(--main-color);
}

.bookmark-wrapper:hover .bookmark-img {
    filter: brightness(0) saturate(100%) invert(31%) sepia(72%) saturate(1515%) hue-rotate(209deg) brightness(108%) contrast(110%);
}

.bookmark-wrapper:hover {
    background-color: #d1ddff;
}

.bookmark-img {
    background-color: transparent;
    filter: brightness(0) saturate(100%) invert(34%) sepia(3%) saturate(0%) hue-rotate(4deg) brightness(100%) contrast(89%);
    height: 20px;
    width: 20px;
    margin-top: 5px;
    cursor: pointer;
}

.bookmark-count {
    font-size: 15px;
}

/* ===BOOKMARK=== */

/* popular-cat */

.popular-cat {
    flex-shrink: 0;
    align-items: flex-start;
    width: 254px;
    height: 410px;
    overflow: hidden;
    background: var(--main-element-background);
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 5px;
    border: 1px solid var(--main-border);
    border-radius: 10px;
    /* margin-bottom: -20px; */
 }

 #popular-id {
    transition: height 0.5s ease, overflow 0.5s;
 }


 .popular-title {
    margin-bottom: 20px;
    margin-left: 10px;
    color: gray;
 }

.category-item {
    padding-bottom: 20px;
    border-radius:13px;
    padding: 12px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.category-item:hover {
    background-color: #ededed;
}

.category-item img {
    height: 35px;
    width: 35px;
}


.category-item a {
    color: var(--text-color);
}

.category-item a {
    text-decoration: none;
}

/* popular-cat */


.wrapp_img {
    width: 780px;
    height: 440px;
    max-width: 680px;
    /* display: block; */
    border-radius: 10px;
}

.ql-editor img {
    width: 680px;
    height: 440px;
    max-width: 680px;
    /* display: block; */
    border-radius: 10px;
}

.ql-editor p span {
    font-size: 16px;
    line-height: 1.6;
}

.ql-editor p {
    font-size: 16px;
    line-height: 1.6;
}

.ql-editor blockquote {
    border-left: 5px solid var(--main-color);
    display: inline-block;
    margin: 0;
    padding-left: 10px;
}

.ql-editor blockquote sub {
    width: 100%;
    font-size: 14px;
}




/*===RANDOM POSTS===*/

.popular-and-random {
    position: sticky;
    top: 65px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    max-height: 650px;
    padding-bottom: 20px;
}

.popular-and-random::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.random-posts {
    max-width: 100%;
    background-color: var(--main-element-background);
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--main-border);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
}

.random-posts a {
    max-width: 245px;
    font-size: 14px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    /* border-top: 1px solid lightgray; */
}


.cicle-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 0px;
    /* border-top: 1px solid lightgray; */
}

.side-img-name {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    /* border-top: 1px solid lightgray; */
    gap: 7px;
}

.side-img-name a {
    width: auto!important;
    font-weight: 600;
}
.side-img-name img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}


.date-and-name {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.date-and-name a {
    font-size: 13px;
    width: auto;
}



.virt-wrapper {
    /* background-color: blue; */
    width: 100%;
    height: 30px;
    display: inline-flex;
    justify-content: center;
}

.virt-button img.down {
    width: 35px;
    height: 90%;
    transition: transform 0.8s;
    filter: brightness(0) saturate(100%) invert(42%) sepia(37%) saturate(26%) hue-rotate(335deg) brightness(93%) contrast(78%);
}

.virt-button img.up {
    width: 35px;
    height: 90%;
    transform: rotate(180deg);
    transition: transform 0.8s;
    filter: brightness(0) saturate(100%) invert(42%) sepia(37%) saturate(26%) hue-rotate(335deg) brightness(93%) contrast(78%);
}

.virt-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    padding-bottom: 20px;
    border-radius:13px;
    padding: 12px;
    margin-bottom: 10px;
}

.virt-button:hover {
    background-color: #ededed;
}

/*===RANDOM POSTS===*/

/* ===PROFILE=== */

.profile-cont {
    flex-shrink: 0;
    align-items: flex-start;
    width: 296px;
    overflow: hidden;

    background: var(--main-element-background);
    border: 1px solid var(--main-border);
    border-radius: 10px;
}


.profile-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 296px;
    background-color: var(--main-element-background);
    border-bottom: 1px solid var(--main-border);
}

.profile-user-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}

.user-data {
    display: flex;
    align-items: center;
}

.logout-and-username a:first-of-type {
    margin-left: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #444850;
    font-weight: 600;
    cursor: pointer;
}

.settings-img {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    filter: brightness(0) 
    saturate(100%) 
    invert(57%) 
    sepia(0%)
    saturate(3187%) 
    hue-rotate(21deg) 
    brightness(92%) contrast(92%);
    cursor: pointer;
}

.profile-elements {
    width: 100%;
    cursor: pointer;
}

.exit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top: 1px solid var(--main-border);
    width: 100%;
    height: 50px;
    background-color: var(--main-element-background);
}

.exit img {
    height: 20px;
    width: 20px;
    filter: brightness(0) 
    saturate(100%) 
    invert(27%) 
    sepia(6%) 
    saturate(871%) 
    hue-rotate(182deg) 
    brightness(96%) contrast(91%);

}

.exit a {
    color: #444850;
    font-weight: 600;
    font-size: 15px;
}

.notifications-cont,
.subscribes-cont,
.bookmarks-cont,
.self-posts-cont,
.comment-cont,
.answers-cont,
.activity-cont,
.admin-cont {
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
    border-left: 3px solid transparent;
    background-color: var(--main-element-background);
    height: 40px;
    width: 100%;
    color: #444850;
    text-decoration: none;
    cursor: pointer;
}

.notifications-cont a,
.subscribes-cont a,
.bookmarks-cont a,
.self-posts-cont a,
.comment-cont a,
.answers-cont a,
.activity-cont a,
.admin-cont a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #444850;
}

.notifications-cont:hover ,
.subscribes-cont:hover,
.bookmarks-cont:hover,
.self-posts-cont:hover,
.comment-cont:hover,
.answers-cont:hover,
.activity-cont:hover,
.admin-cont:hover {
    border-left: 3px solid var(--main-color);
    color: var(--main-color);
}


.notifications-cont:hover a ,
.subscribes-cont:hover a,
.bookmarks-cont:hover a,
.self-posts-cont:hover a,
.comment-cont:hover a,
.answers-cont:hover a,
.activity-cont:hover a,
.admin-cont:hover a {
    color: var(--main-color);
}


.logout-and-username {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.logout-and-username a:last-of-type {
    font-size: 13px;
    color: gray;
    margin-left: 10px;
    text-decoration: none;
}

/* ===PROFILE=== */


/* ===LOGIN=== */

.login-cont {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    min-height: 300px;
    height: auto;
    border: 1px solid var(--main-border);
    border-radius: 10px;
    background-color: var(--main-element-background);
    box-sizing: border-box;
    padding: 20px;
    flex-shrink: 0;
}

.login-form,
.password-form {
    height: 40px;
    width: 90%;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid var(--main-border);
    padding-left: 20px;
}

.login-form::placeholder,
.password-form::placeholder {
    font-family: 'SF Pro Text';
}

button:first-of-type {
    height: 40px;
    width: 90%;
    background-color: #4fc827;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    color: rgb(255, 245, 245);
    font-weight: 600;
    font-family: 'SF Pro Text';
    cursor: pointer;
}

button:last-of-type {
    height: 40px;
    width: 90%;
    background-color: #e6e6e6;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    color: rgb(102, 102, 102);
    font-weight: 600;
    font-family: 'SF Pro Text';
    cursor: pointer;
}

.login-password,
.open-create {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

button:last-of-type:hover {
    background-color: #ececec;
}

button:first-of-type:hover {
    background-color: #6dd14c;
}

.password-form:focus {
    border-color: #4fc827!important;
    outline: none;
}

.login-form:focus {
    border-color: #4fc827!important;
    outline: none;
}

.auth-header {
    font-family: 'SF Pro Text';
}

.forget-password {
    font-size: 14px;
    color: #4fc827;
    cursor: pointer;
    text-decoration: none;
}

.error-message {
    font-size: 13px;
    color: #c52828;
}

.error-data {
    height: 30px;
    display: none;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 380px;
    border: 1px solid var(--main-border);
    border-radius: 10px;
    background-color: var(--main-element-background);
    box-sizing: border-box;
    padding: 20px;
}

.register-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.reg-login-form,
.reg-password-form,
.email-form,
.repeat-password-form {
    height: 40px;
    width: 90%;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid var(--main-border);
    padding-left: 20px;
}

.reg-login-form::placeholder,
.reg-password-form::placeholder,
.reg-repeat-password-form::placeholder,
.reg-email-form::placeholder {
    font-family: 'SF Pro Text';
}

.logout {
    cursor: pointer;
}

.login-warning,
.pass-warning {
    display: none;
    font-size: 13px;
    margin: 0;
    width: 80%;
    color: #c52828;
    justify-content: left;
}

.login-min-length-warning,
.pass-min-length-warning {
    display: none;
    font-size: 13px;
    margin: 0;
    width: 80%;
    color: #c52828;
    justify-content: left;
}

.reg-login-form:focus,
.reg-email-form:focus,
.reg-password-form:focus ,
.repeat-password-form:focus,
.email-form:focus {
    border-color: #4fc827!important;
    outline: none;
}

.reg-email-warning,
.reg-login-warning,
.reg-login-min-length-warning,
.reg-pass1-warning,
.reg-pass2-warning,
.reg-email-min-length-warning,
.reg-login-min-length-warning,
.reg-pass1-min-length-warning,
.reg-pass2-min-length-warning {
    display: none;
    font-size: 13px;
    margin: 0;
    width: 80%;
    color: #c52828;
    justify-content: left;
}

/* ===LOGIN=== */

/* ===SEARCH=== */

.search-input {
    width: 200px;
    height: 30px;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 50px;
    display: flex;
    outline: none;
    box-shadow: none;
    align-items: center;
}

.search-wrapper {
    border-radius: 10px;
    width: 710px;
    padding: 10px;
    border: 1px solid var(--main-border);
    background: var(--main-element-background);
}

.input_search-img {
    height: 20px;
    width: 20px;
    cursor: pointer;
    filter: brightness(0)
    saturate(100%) invert(57%)
    sepia(0%) saturate(3187%)
    hue-rotate(21deg)
    brightness(92%) contrast(92%);
}

.search-cont {
    display: flex;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 15px;
}

.input_wrapper {
    position: relative;
    width: auto;
    height: auto;
}


.bad-search-img {
    width: 400px;
    height: 50%;
}

.bad-search-img {
    display: none;
}

/* ===SEARCH=== */


/* ===PROFILE=== */

.main-profile {
    display: flex;
    flex-direction: column;
    background: var(--main-element-background);
    border: 1px solid var(--main-border);
    width: 660px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.profile_head-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.user-profile-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile_username-img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile_head-name {
    font-size: 20px;
}


.profile_follows {
    padding: 20px;
    width: 660px;
    border-radius: 10px;
    height: auto;
    background: var(--main-element-background);
    border: 1px solid var(--main-border);
    display: flex;
    justify-content: space-between;
}

.profile_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}


.follower_image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.following_image {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.follower {
    display: flex;
    align-items: center;
    gap: 10px;
}

.following {
    display: flex;
    align-items: center;
    gap: 10px;
}

.followers_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.followings_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 200px 0 0;
}

.subs {
    display: flex;
    gap: 20px;
}

.notifications {
    padding: 20px;
    width: 660px;
    border-radius: 10px;
    height: auto;
    background: var(--main-element-background);
    border: 1px solid var(--main-border);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notification-body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.notification-date {
    color: gray;
}

#self-posts-id {
    width: 660px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--main-element-background);
    border: 1px solid var(--main-border);
    border-radius: 10px;
    padding: 20px;
}

.self-comments {
    width: 660px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--main-element-background);
    border: 1px solid var(--main-border);
    border-radius: 10px;
    padding: 20px;
}


.posts_profile {
    width: 620px;
    padding: 20px;
    background-color: var(--main-element-background);
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid var(--main-border);
    border-radius: 10px;
}

.bookmarks {
    width: 660px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--main-element-background);
    border: 1px solid var(--main-border);
    border-radius: 10px;
    padding: 20px;
}

.wrapp_img_profile {
    width: 580px;
    height: 440px;
    max-width: 620px;
    /* display: block; */
    border-radius: 10px;
}

.profile-edit {
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    width: 660px;
    height: auto;
    background: var(--main-element-background);
    border: 1px solid var(--main-border);
    border-radius: 10px;
    margin-bottom: 20px;
}

.settings_username-wrapper,
.settings_email-wrapper,
.settings_about-wrapper,
.settings_password-wrapper,
.settings_old-password-wrapper,
.settings_new-password-wrapper,
.settings_new-password-2-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings_username,
.settings_email,
.settings_about,
.settings_old-password,
.settings_new-password,
.settings_new-password-2 {
    width: 500px;
    height: 30px;
}

.send-settings_data,
.change-password-url,
.save-password {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background: var(--main-color);
    color: white;
    min-height: 40px;
    min-width: 100px;
    max-width: 150px;
    cursor: pointer;
    font-size: 15px;
}

.send-settings_data:hover,
.change-password-url:hover,
.save-password:hover {
    background: #2c7cd8;
    color: white;
    border: none;
}

.settings_password-wrapper {
    display: none;
    flex-direction: column;
    gap: 20px;
}

.forgot-password-message {
    font-size: 13px;
    color: var(--main-color);
    cursor: pointer;
    text-decoration: none;
}

.error-data-message {
    display: none;
    color: #e54848;
}

.error-password-message {
    display: none;
    color: #e54848;
}

.success-message {
    display: none;
    color: #1fff9e;
}

.add-bio {
    text-decoration: none;
    color: var(--main-color);
}

.category-container {
    width: 680px;
    height: auto;
    padding: 25px;
    background: var(--main-element-background);
    border: 1px solid var(--main-border);
    border-radius: 10px;
}

.theme_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid var(--main-color);
}

.category-title {
    font-size: 23px;
}

.theme-subs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-and-posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* ===PROFILE=== */

.theme_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme_subscribe-btn {
    background: var(--main-color);
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.theme_subscribe-btn:hover {
    background: #2d75c8;
}

.subscribe_header {
    width: 680px;
    height: 100px;
    background: var(--main-element-background);
    border-radius: 10px;
    border: 1px solid var(--main-border);
    padding: 25px;
}

.filters-container {
    width: 680px;
    height: 20px;
    overflow: hidden;
    background: var(--main-element-background);
    border-radius: 10px;
    border: 1px solid var(--main-border);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.filter-btns span {
    font-size: 13px;
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 2px;
    color: var(--main-color);
    cursor: pointer;
    border: 1px solid var(--main-color);
    transition: 0.3s ease;
}

.filter-btns {
    display: inline-flex;
    gap: 8px;
    align-items: center;
}

.filter-btns span:hover {
    background: var(--main-color);
    color: white;
}

.set_filters-btn {
    font-size: 13px;
    width: 70px;
    height: auto;
    padding: 5px;
    border-radius: 2px;
    background: var(--main-color);
    color: white;
    cursor: pointer;
    font-size: 13px;
}

.set_filters-btn:hover {
    color: white;
    background: #2d75c8;
}

.item_filter.active {
    background: var(--main-color);
    color: white;
}

.item_filter {
    height: 16px;
    width: 16px;
}

.my_lenta-title {
    font-family: 'Arial';
    font-size: 18px;
    font-weight: 700;
}

.filter_arrow.down {
    height: 20px;
    width: 20px;
}

.filter_arrow.up {
    height: 20px;
    width: 20px;
    transform: rotate(180deg);
}

.lenta_settings_button_and_arrow {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}
.subs_username {
    text-decoration: none;
    color: #444850;
}

.lenta_base {
    display: flex;
    justify-content: space-between;
}

.filter_buttons_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lenta_settings_button {
    font-size: 13px;

}
