.filters {
    width: 680px;
    height: 20px;
    overflow: hidden;
    background: var(--main-element-background);
    border-radius: 10px;
    border: 1px solid var(--main-border);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.filters__header {
    display: flex;
    justify-content: space-between;
}

.filters__title {
    font-family: 'Arial';
    font-size: 18px;
    font-weight: 700;
}

.filters__settings {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.filters__settings-label {
    font-size: 13px;
}

.filters__body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filters__options {
    display: flex;
    gap: 10px;
}

.filters__filter-option, .filters__type-option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    margin: 10px 0 20px 0;
    cursor: pointer;
    padding: 7px;
    font-size: 13px;
}

.filters__filter-option:hover, .filters__type-option:hover {
    background: var(--main-color);
    color: white;
    transition: opacity .2s, background ease-in-out .2s, color ease-in-out .2s ease-in-out;
}

.filters__filter-option.selected, .filters__type-option.selected {
    color: white;
    background: var(--main-color);
}

.filters__arrow.filters__arrow--down {
    height: 20px;
    width: 20px;
    transform: rotate(360deg);
}

.filters__arrow {
    height: 20px;
    width: 20px;
    transform: rotate(180deg);
}

.filters__apply-btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    width: 70px;
    height: 12px;
    border-radius: 3px;
    background: var(--main-color);
    color: white;
    cursor: pointer;
    font-size: 13px;
}

.filters__apply-btn:hover {
    color: white;
    background: #2d75c8;
}

.news-widget {
    width: 680px;
    height: auto;
    overflow: hidden;
    background: var(--main-element-background);
    border-radius: 10px;
    border: 1px solid var(--main-border);
    padding: 18px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.news-widget__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.news-widget__title {
    color: #212020;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
}

.news-widget__meta {
    display: flex;
    gap: 8px;
    align-items: center;
}

.news-widget__date {
    font-size: 13px;
    color: #808080;
    font-weight: 500;
}

.news-widget__comments-count {
    color: #808080;
    font-weight: 500;
    font-size: 13px;
}

