.filters {
    width: 680px;
    height: 20px;
    overflow: hidden;
    background: var(--main-element-background);
    border-radius: 10px;
    border: 1px solid var(--main-border);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.filters__header {
    display: flex;
    justify-content: space-between;
}

.filters__title {
    font-family: 'Arial';
    font-size: 18px;
    font-weight: 700;
}

.filters__settings {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.filters__settings-label {
    font-size: 13px;
}

.filters__body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filters__options {
    display: flex;
    gap: 10px;
}

.filters__filter-option, .filters__type-option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    margin: 10px 0 20px 0;
    cursor: pointer;
    padding: 7px;
    font-size: 13px;
}

.filters__filter-option:hover, .filters__type-option:hover {
    background: var(--main-color);
    color: white;
    transition: opacity .2s, background ease-in-out .2s, color ease-in-out .2s ease-in-out;
}

.filters__filter-option.selected, .filters__type-option.selected {
    color: white;
    background: var(--main-color);
}

.filters__arrow.filters__arrow--down {
    height: 20px;
    width: 20px;
    transform: rotate(360deg);
}

.filters__arrow {
    height: 20px;
    width: 20px;
    transform: rotate(180deg);
}

.filters__apply-btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    width: 70px;
    height: 12px;
    border-radius: 3px;
    background: var(--main-color);
    color: white;
    cursor: pointer;
    font-size: 13px;
}

.filters__apply-btn:hover {
    color: white;
    background: #2d75c8;
}

.news-widget {
    width: 680px;
    height: auto;
    overflow: hidden;
    background: var(--main-element-background);
    border-radius: 10px;
    border: 1px solid var(--main-border);
    padding: 18px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.news-widget__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.news-widget__title {
    color: #212020;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
}

.news-widget__meta {
    display: flex;
    gap: 8px;
    align-items: center;
}

.news-widget__date {
    font-size: 13px;
    color: #808080;
    font-weight: 500;
}

.news-widget__comments-count {
    color: #808080;
    font-weight: 500;
    font-size: 13px;
}

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.post__header {
    width: 680px;
    padding: 25px;
    background-color: var(--main-element-background);
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid var(--main-border);
    border-radius: 10px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info__meta {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user-meta span {
    font-size: 13px;
}
.user-info__avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info__username {
    text-decoration: none;
    font-size: 15px;
    color: var(--text-color);
    font-weight: 500;
}

.user-info__details {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.user-info__date {
    font-size: 13px;
    color: #808080;
}

.post__button-follow {
    border: 1px solid var(--main-color);
    padding: 0 10px 0 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 13px;
    height: 30px;
    cursor: pointer;
    color: white;
    background: var(--main-color);
}

.post__button-follow:hover {
    background: var(--main-color);
    transition: 0.1s ease;
    color: white;
}

.post__meta {
    display: inline-flex;
    gap: 10px;
}

.post__type {
    border: 1px solid #50b99f;
    border-radius: 3px;
    padding: 7px;
    font-size: 12px;
    color: #50b99f;
}

.post__category {
    border: 1px solid #ff66b0;
    border-radius: 3px;
    padding: 7px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    color: #ff66b0;
}

.post__title a {
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    font-size: 23px;
}

.post__content a {
    color: var(--main-color)
}

.post__content {
    margin: 0 0 20px 0;
}

.post__wrapp-img, .post__content img {
    width: 680px;
    height: 440px;
    max-width: 680px;
    border-radius: 10px;
    object-fit: cover;
}

.post__content p span {
    font-size: 16px;
    line-height: 1.6;
}

.post__content blockquote {
    border-left: 5px solid var(--main-color);
    display: inline-block;
    margin: 0;
    padding-left: 10px;
}

.post__content blockquote sub {
    width: 100%;
    font-size: 14px;
}

.post__button-detail {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: opacity .2s, background-color ease-in-out .2s, color ease-in-out .2s ease-in-out;
}

.post__button-detail:hover {
    background-color: var(--main-color);
}

.post__button-detail:hover a {
    color: white;
}

.post__button-detail a {
    text-decoration: none;
    font-size: 13px;
    color: var(--main-color);
}

.post__actions {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.reactions {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.like-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    min-width: 30px;
    width: auto;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 30px;
    background-color: #f9f9f9;
    cursor: pointer;
    color: #808080;
}

.like-button.like-button--active {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    min-width: 30px;
    width: auto;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 30px;
    background-color: var(--main-color);
    cursor: pointer;
    color: white;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.like-button:hover {
    background-color: #ebebeb;
}

.like-button.like-button--active:hover {
    background-color: var(--main-color);
}

.like-button__count.dellikeanimate {
    animation: set-slide-up 0.8s ease-in-out;
}

@keyframes rem-like-slide {
    0% {
        transform: translateY(-5px);
        opacity: 0;
    }
    50% {
        transform: translateY(3px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes set-slide-up {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    50% {
        transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.like-button__count.setlikeanimate {
    animation: rem-like-slide 0.8s ease-in-out;
}

.like-button__count {
    font-size: 15px!important;
    margin-left: 6px;

}

.like-button__icon {
    width: 17px;
    height: 17px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(34%) sepia(50%) saturate(5366%) hue-rotate(324deg) brightness(101%) contrast(101%)!important;
}

.comment-button:hover .comment-button__count {
    color: var(--main-color);
}

.comment-button:hover .comment-button__icon {
    filter: brightness(0) saturate(100%) invert(31%) sepia(72%) saturate(1515%) hue-rotate(209deg) brightness(108%) contrast(110%);
}

.comment-button:hover {
    background-color: var(--main-hover);
}

.comment_bookmark-wrapper-set, .comment-button {
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    min-width: 30px;
    width: auto;
    height: 30px;
    color: var(--main-color);
    padding-right: 8px;
    padding-left: 8px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.comment-button__icon, .comment-icon {
    width: 17px;
    height: 17px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(50%) sepia(8%) saturate(16%) hue-rotate(323deg) brightness(99%) contrast(91%);
}

.comment-button__count {
    font-size: 15px;
    color: #808080;
}


@keyframes set-slide-up {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    50% {
        transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.bookmark-button__count.dellikeanimate {
    animation: set-slide-up 0.8s ease-in-out;
}


@keyframes rem-bookmark-slide {
    0% {
        transform: translateY(-5px);
        opacity: 0;
    }
    50% {
        transform: translateY(3px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.bookmark-button__count.setlikeanimate {
    animation: rem-bookmark-slide 0.8s ease-in-out;
    color: #808080;
}

.bookmark-button {
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    margin-left: auto;
    align-items: center;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 30px;
    min-width: 30px;
    width: auto;
    height: 30px;
    padding-right: 8px;
    padding-left: 8px;
}

.bookmark-button--active {
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    margin-left: auto;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    min-width: 30px;
    width: auto;
    height: 30px;
    color: var(--main-color);
    padding-right: 8px;
    padding-left: 8px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.bookmark-button.bookmark-button--active .bookmark-button__icon {
    fill: var(--main-color);
    stroke: var(--main-color);
}

.bookmark-button.bookmark-button--active .bookmark-button__icon {
    fill: var(--main-color);
    stroke: var(--main-color);
}

.bookmark-button.bookmark-button--active:hover .bookmark-button__icon {
    fill: var(--main-color);
    stroke: var(--main-color);
}


.bookmark-button:hover .bookmark-button__count {
    color: var(--main-color);
}

.bookmark-button:hover .bookmark-button__icon {
    fill: none;
    stroke: var(--main-color);
}

.bookmark-button:hover {
    background-color: #ebebeb;
}

.bookmark-button__icon {
    fill: none;
    stroke: #808080;
    height: 17px;
    width: 17px;
    cursor: pointer;
}


.bookmark-button__count {
    font-size: 15px;
}

.post__views {
    display: inline-flex;
    justify-content: center;
    gap: 7px;
    align-items: center;


}

.post__view-icon {
    background-color: transparent;
    filter: brightness(0) saturate(100%) invert(50%) sepia(8%) saturate(16%) hue-rotate(323deg) brightness(99%) contrast(91%);    height: 22px;
    width: 22px;
    margin-top: 5px;
}

.post__view-count {
    font-size: 14px;
    color: #808080;
    margin-top: 5px;
}

.comments-wrapper {
    background-color: var(--main-element-background);
    height: auto;
    display: flex;
    gap: 40px;
    flex-direction: column;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid var(--main-border);
    padding: 0 24px 0 24px;
    margin: 20px 0 0 0;
}

.comments-wrapper__title {
    font-size: 17px;
    margin: 24px;
}

.send_comment__form {
    display: none;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.send-comment__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    font-size: 15px;
    cursor: pointer;
    height: 40px;
    width: 100px;
    border-radius: 6px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.send-comment__button:hover {
    background-color: var(--main-color);
    color: #ebebeb;
}

.comment-input {
    padding: 20px;
    min-height: 60px;
    height: auto;
    border: 1px solid var(--main-border);
    border-radius: 6px;
    resize: none;
    font-size: 16px;
}

textarea.comment-input:focus {
    border: 1px solid var(--main-color)!important;
    outline: none;
}

.comment-input::placeholder {
    font-size: 16px;
}

.comments-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-item__user-info-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 20px;
    padding: 0 8px 0 8px;
    border-radius: 2px;
    background: #70737B;
}

.comment-item {
    width: 680px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 20px 0;
}

.comment-item__user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-item__user-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-item__pub-date {
    color: gray;
    font-size: 13px;
}

.comment__like-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    min-width: 30px;
    width: auto;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 30px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.comment__like-button--active {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    min-width: 30px;
    width: auto;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 30px;
    background-color: var(--main-color);
    cursor: pointer;
    color: white;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.comment__likes-count {
    font-size: 15px!important;
    margin-left: 6px;
}

.comment__likes-count.dellikeanimate {
    animation: set-slide-up 0.8s ease-in-out;
}

.comment__likes-count.setlikeanimate {
    animation: rem-like-slide 0.8s ease-in-out;
}

.comment__like-icon {
    width: 17px!important;
    height: 17px!important;
    cursor: pointer;
    filter: brightness(0)
    saturate(100%)
    invert(34%)
    sepia(50%)
    saturate(5366%)
    hue-rotate(324deg)
    brightness(101%) contrast(101%)!important;
}

.comment__bookmark-icon {
    fill: none;
    stroke: #444850;
    height: 20px;
    width: 20px;
    margin-top: 5px;
    cursor: pointer;
}

.comment__bookmark-button:hover .comment__bookmark-count {
    color: var(--main-color);
}

.comment__bookmark-button:hover .comment__bookmark-icon {
    fill: none;
    stroke: var(--main-color);
}

@keyframes set-slide-up {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    50% {
        transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.comment__bookmark-count.dellikeanimate {
    animation: set-slide-up 0.8s ease-in-out;
}


@keyframes rem-bookmark-slide {
    0% {
        transform: translateY(-5px);
        opacity: 0;
    }
    50% {
        transform: translateY(3px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.comment__bookmark-count.setlikeanimate {
    animation: rem-bookmark-slide 0.8s ease-in-out;
    color: #444850;
}

.comment__bookmark-button {
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    background-color: #f9f9f9;
    cursor: pointer;
    border-radius: 30px;
    min-width: 30px;
    width: auto;
    height: 30px;
    padding-right: 8px;
    padding-left: 8px;
}

.comment__bookmark-count {
    font-size: 15px;
}

.comment__bookmark-button:hover {
    background-color: #ebebeb;
}

.comment__bookmark-button:hover, .comment__bookmark-button--active:hover {
    background-color: #ebebeb;
}

.comment__bookmark-button--active .comment__bookmark-icon {
    fill: var(--main-color);
    stroke: var(--main-color);
}

.comment__bookmark-button--active .comment__bookmark-count {
    color: var(--main-color);
}

.comment__bookmark-button.comment__bookmark-button--active:hover .comment__bookmark-icon {
    fill: var(--main-color);
    stroke: var(--main-color);
}

.profile__comment-wrapper {
    padding: 20px;
    border: 1px solid var(--main-border);
    border-radius: 10px;
    background: var(--main-element-background);

    width: 680px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.post__title {
    text-decoration: none;
    font-size: 20px;
    color: #444850;
    padding-bottom: 10px;
    text-decoration: none;
}

.hidden-comments__button {
    display: flex;
    align-items: center;
    font-size: 17px;
    height: 50px;
    cursor: pointer;
    color: var(--main-color);
    border-top: 0px;
    border: 1px solid var(--main-border);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 0 20px 0;
    background: var(--main-element-background);
}

.hidden-comments__button span {
    display: flex;
    padding: 0 20px 0 20px;
}

.comment__reply-button {
    font-size: 15px;
    height: 100%;
    cursor: pointer;
    color: var(--main-color);
}

.comment__delete-button {
    cursor: pointer;
    color: #ff2929;
    font-size: 15px;
}