{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменить пароль</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'users/css/change_password.css' %}">

</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            Изменить пароль
        </div>
        <div class="card-body">
            <form method="POST">
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% csrf_token %}
                <div class="form-group">
                    <label for="old_password">Текущий пароль</label>
                    {{ form.old_password }}
                </div>

                <div class="form-group">
                    <label for="new_password1">Новый пароль</label>
                    {{ form.new_password1 }}
                </div>

                <div class="form-group">
                    <label for="new_password2">Подтверждение пароля</label>
                    {{ form.new_password2 }}
                </div>

                <button type="submit" class="btn btn-primary">Изменить пароль</button>
            </form>

            <a href="{% url 'profile' %}" class="back-link">Вернуться в профиль</a>
        </div>
    </div>
</div>

</body>
</html>