/* header */

* {
    font-family: "Roboto", sans-serif;
}


body {
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
}

.main-header {
    display: flex;
    position: relative;
    background-color: #ffffff;
    height: 50px;
    border-bottom: 1px solid #d3d7db;
 }


.head-links {
    border-radius: 3px;
    background: deeppink;
    position: relative;
    left: 1145px;
    top: 10px;
    height: 30px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-links a {
    font-size: 13px;
    color: white;
    text-decoration: none;

}

.head-links:hover {
    background: #D20374;
}

.head-container {
    position: relative;
    left: 190px;
    top: 16px;
    display: flex;
    gap: 10px;
    justify-content: center;
    color: red;
}

.head-container a {
    text-decoration: none;
    color: #777777;
}
.head-container a.active {
    color: deeppink;
}

.head-container a:hover {
    color: dodgerblue;
}

.search-cont img {
    position: relative;
    left:740px;
    top:14px;
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(0.5);
}

.search-cont:hover {
    filter: grayscale(0%) brightness(1) invert(0) sepia(1) saturate(30) hue-rotate(-50deg);
}
.pencil-cont img {
    position: relative;
    left:680px;
    top:14px;
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(0.5);
}

.pencil-cont:hover {
    filter: grayscale(0%) brightness(1) invert(0) sepia(1) saturate(30) hue-rotate(-50deg);
}

/* header */

.container {
    position: relative;
    left: 350px;
    top: 16px;
    width:  800px;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 40px;
    padding-top: 20px;
}

.container p {
    position: relative;
    text-align: center;
    top: -10px;
    font-size: 20px;
}

.user-username {
    padding-left: 10px;
    font-size: 22px;
}

.username {
    font-size: 20px;
}

.avatar {
    font-size: 20px;
}