{% extends 'posts/base.html' %}
{% load static %}

    <title>Все категории</title>
    {% block link %}<link rel="stylesheet" href="{% static 'posts/css/all_categories.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">{% endblock %}

{% block body %}
    <div class="main-container">
        <div class="wrapper">
            <p class="left">Название</p>
            <p class="right">Посты</p>
        </div>
        <div class="divider"></div>
          {% for category in all_categories %}
            <div class="all-cat">
                <a href="{% url 'category' %}?filter={{ category.category }}">{{ category.category }}
                <span class="count">{{ category.count }}</span></a>
            </div>
          {% endfor %}
    </div>

    <div class="pagination">
        <div class="nav-btn">
            <div class="previous_class">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&#x276E; Назад</a>
                {% endif %}
            </div>
            <div class="next_class">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Вперед &#x276F;</a>
                {% endif %}
            </div>
        </div>
        <span>
            {% for num in page_obj.paginator.page_range %}
                <a href="{% url 'all_categories' %}?page={{ num }} " class="{% if request.GET.page|default:'1' == num|stringformat:'s' %}active{% endif %}">{{ num }}</a>
            {% endfor %}
        </span>
    </div>
{% endblock %}
