{% extends 'posts/base.html' %}
{% load static %}
{% load custom_filters %}

    <title>{{ post.title }}</title>
    {% block link %}<link rel="stylesheet" href="{% static 'posts/css/category.css' %}">{% endblock %}

{% block body %}
    {% if categories %}
        <div class="main-container">
            <div class="posts-cont">
                    {% csrf_token %}
                    <div class="container">
                        <div class="last-posts-cont">
                            <p>Категория: {{ category }}</p>
                        </div>
                        {% for post in categories %}
                        <div class="posts">
                            <div class="user-photo-name">
                                <div class="user">
                                    {% if post.user.image.name|slice:"-11:" ==  'default.jpg' %}
                                        <img src="/media/profile_pics/avatar.png">
                                        <span class="letter">{{ post.user.username|first }}</span>
                                        <div class="default-span-s3">
                                            <span>{{ post.user.username }}</span>
                                            <span style="color: gray; margin-left: 7px">{{ post.pub_date|smart_time }}</span>
                                        </div>
                                    {% else %}
                                        <img src="{{ post.user.image.url }}">
                                        <div class="s3">
                                            <span>{{ post.user.username }}</span>
                                            <span style="color: gray; margin-left: 7px">{{ post.pub_date|smart_time }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <br>
                            <div class="title">
                                <a href="{% url 'post_detail' post.id %}#top">{{ post.title }}</a>
                            </div>
                            {% if post.description|length > 800 %}
                                <p>{{ post.description|linebreaksbr|truncatewords:100|slice:":-3" }}</p>
                                <br>
                                <div class="detail-button">
                                    <a href="{% url 'post_detail' post.id %}#top">Читать далее</a>
                                </div>
                                <div class="icon-cont">
                                    <img src="/media/icons/view.svg" class="views-img">
                                    <span class="views-count">{{ post.views_count }}</span>
                                    <a href="{% url 'post_detail' post.id %}"><img src="/media/icons/comment.svg" class="comment-img"></a>
                                    <span class="comment-count">{{ post.comment_count }}</span>
                                    <form class="bad-form" action="{% url 'like_view' post.id %}" method="post">
                                        {% csrf_token %}
                                            <img src="/media/icons/hart.svg" class="heart-img" id="like-button" onclick="func(this)" data-id="{{ post.id }}">
                                            <span class="likes-count" id="likes-count-{{ post.id }}">{{ post.likes }}</span>
                                    </form>
                                </div>
                            {% else %}
                                <p>{{ post.description|linebreaksbr }}</p>
                                <br>
                                <div class="detail-button">
                                    <a href="{% url 'post_detail' post.id %}#top">Читать далее</a>
                                </div>
                                <div class="icon-cont">
                                    <img src="/media/icons/view.svg" class="views-img">
                                    <span class="views-count">{{ post.views_count }}</span>
                                    <a href="{% url 'post_detail' post.id %}">
                                        <img src="/media/icons/comment.svg" class="comment-img">
                                    </a>
                                    <span class="comment-count">{{ post.comment_count }}</span>
                                    <form action="{% url 'like_view' post.id %}" method="post">
                                        {% csrf_token %}
                                        <img src="/media/icons/hart.svg" class="heart-img" id="like-button" onclick="func(this)" data-id="{{ post.id }}">
                                        <span class="likes-count" id="likes-count-{{ post.id }}">{{ post.likes }}</span>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="popular-cat">
                        <p>Популярные темы:</p>
                        {% for category in popular_categories %}
                            <div class="popular-cat-container">
                                <a href="{% url 'category' %}?filter={{ category.category }}">{{ category.category }} <span class="count">{{ category.count}}</span></a>
        <!--                        <br>-->
                            </div>
                        {% endfor %}
                        <div class="all-themes">
                            <p></p>
                            <a href="{% url 'all_categories' %}">Все темы</a>
                        </div>
                    </div>
            </div>
        </div>
    {% else %}
        <div class="main-container">
            <div class="posts-cont">
                    {% csrf_token %}
                    <div class="container">
                        <div class="last-posts-cont">
                            <p>Категория: {{ category }}</p>
                        </div>
                        Посты с категорией "{{ category }}" не найдена
                    </div>    
            </div>
            <div class="popular-cat">
                    <p>Популярные темы:</p>
                    {% for category in popular_categories %}
                    <div class="popular-cat-container">
                        <a href="{% url 'category' %}?filter={{ category.category }}">{{ category.category }} <span class="count">{{ category.count}}</span></a>
        <!--                       <br>-->
                    </div>
                    {% endfor %}
                    <div class="all-themes">
                        <p></p>
                        <a href="{% url 'all_categories' %}">Все темы</a>
                    </div>
                </div>                        
        </div>                        
    {% endif %} 
    <script>
        const csrfToken = '{{ csrf_token }}'
    </script>
    <script src="{% static 'js/likes.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>   
{% endblock %}